header ul {
  display: flex;
  padding: 4%;
  justify-content: space-around;
  align-items: center;
  
}
header .navi{
    background-color:  #10b981;
    padding: 1px 2%;
    border: 2px solid  #10b981;
    border-radius: 45px;
    color: white;
    height: fit-content;
    width: fit-content;
}